In [1]:
###
import sqlite3
connexion=sqlite3.connect('nominations.db')

In [2]:
connexion.execute('pragma table_info(nominations);').fetchall()

[(0, 'id', 'integer', 0, None, 1),
 (1, 'category', 'text', 0, None, 0),
 (2, 'nominee', 'text', 0, None, 0),
 (3, 'movie', 'text', 0, None, 0),
 (4, 'character', 'text', 0, None, 0),
 (5, 'won', 'integer', 0, None, 0),
 (6, 'ceremony_id', 'integer', 0, None, 0)]

In [5]:
for row in connexion.execute('select * from nominations limit 10;').fetchall():
    print(row)

(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

In [9]:
## créer la table ceremonies
#executemany()

year_hosts=[(2010,"Steve Martin"),
(2009,"Hugh Jackman"),
(2008,"Jon Stewart"),
(2007,"Ellen DeGeneres"),
(2006,"Jon Stewart"),
(2005,"Chris Rock"),
(2004,"Billy Crystal"),
(2002,"Whoopi Goldberg"),
(2001,"Steve Martin"),
(2000,"Billy Crystal")]

In [6]:
connexion.execute("create table ceremonies (id integer primary key, Year integer,Host text);").fetchall()

[]

In [7]:
# voir les noms de tables dans une base de données
connexion.execute("select name from sqlite_master where type='table'").fetchall()

[('nominations',), ('ceremonies',)]

In [8]:
connexion.execute("pragma table_info(ceremonies);").fetchall()

[(0, 'id', 'integer', 0, None, 1),
 (1, 'Year', 'integer', 0, None, 0),
 (2, 'Host', 'text', 0, None, 0)]

In [13]:
inser_query='insert into ceremonies (Year, Host) values (?,?);'

connexion.executemany(inser_query,year_hosts).fetchall()

[]

In [14]:
connexion.commit()

In [15]:
connexion.execute('select * from ceremonies limit 10;').fetchall()

[(1, 2010, 'Steve Martin'),
 (2, 2009, 'Hugh Jackman'),
 (3, 2008, 'Jon Stewart'),
 (4, 2007, 'Ellen DeGeneres'),
 (5, 2006, 'Jon Stewart'),
 (6, 2005, 'Chris Rock'),
 (7, 2004, 'Billy Crystal'),
 (8, 2002, 'Whoopi Goldberg'),
 (9, 2001, 'Steve Martin'),
 (10, 2000, 'Billy Crystal')]

In [16]:
# contraintes clé externe

connexion.execute('pragma foreign_keys=on').fetchall()

[]

In [22]:
## Relation on_to_many avec la table nominations

connexion.execute('create table nominations_two(id integer primary key, category text, nominee text, movie text, character text, won integer, ceremony_id integer references ceremonies(id));').fetchall()

OperationalError: table nominations_two already exists

In [23]:
connexion.execute('pragma table_info(nominations_two);').fetchall()

[(0, 'id', 'integer', 0, None, 1),
 (1, 'category', 'text', 0, None, 0),
 (2, 'nominee', 'text', 0, None, 0),
 (3, 'movie', 'text', 0, None, 0),
 (4, 'character', 'text', 0, None, 0),
 (5, 'won', 'integer', 0, None, 0),
 (6, 'ceremony_id', 'integer', 0, None, 0)]

In [24]:
joined_nominations_query="SELECT nominations.category,nominations.nominee,nominations.movie, nominations.character,nominations.won,ceremonies.id  FROM nominations INNER JOIN ceremonies ON nominations.year==ceremonies.year;"

joined_nominations=connexion.execute(joined_nominations_query).fetchall()

In [27]:
inser_nominations_two="insert into nominations_two values (null,?,?,?,?,?,?)"

connexion.executemany(inser_nominations_two,joined_nominations).fetchall()
connexion.commit()

In [29]:
#Supprimer et renommer des tables

connexion.execute("drop table nomination;").fetchall()
connexion.execute("alter table nomination_two rename to nominations").fetchall()

OperationalError: no such table: nomination

In [30]:
connexion.execute("select name from sqlite_master where type='table';").fetchall()

[('nominations',), ('ceremonies',), ('nominations_two',)]

In [34]:
## créee une join table
movies='create table movies(id integer primary key,movie text);'
actors='create table actors(id integer primary key, actor text);'
movies_actors='CREATE TABLE movies_actors(id integer primary key, movie_id integer REFERENCES movie(id), actor_id integer REFERENCES actor(id));'

connexion.execute(movies)
connexion.execute(actors)
connexion.execute(movies_actors)

OperationalError: database is locked

In [33]:
connexion.execute("select name from sqlite_master where type='table';").fetchall()

[('nominations',), ('ceremonies',), ('nominations_two',)]

In [35]:
connexion.execute('pragma foreign_key_list(movies_actors);').fetchall()

[]