In [1]:
#### 

import sqlite3
import pandas as pd 

connexion=sqlite3.connect('academy_awards.db')
requete="SELECT nominations.movie FROM nominations INNER JOIN ceremonies ON nominations.ceremony_id==ceremonies.id WHERE nominations.nominee='Natalie Portman' ;"

Natalie=connexion.execute(requete).fetchall()
print(Natalie)

[('Black Swan',), ('Closer',)]

In [3]:
##Pratique sur la relation many_to_many
query=" SELECT movies.movie, actors.actor FROM movies INNER JOIN movies_actors on movies.id==movies_actors.movie_id INNER JOIN actors on actors.id==movies_actors.actor_id WHERE actors.actor='Natalie Portman';"
film=connexion.execute(query).fetchall()
print(film)

[('Black Swan', 'Natalie Portman'), ('Closer', 'Natalie Portman')]

In [4]:
## decouverte du dataset
df=pd.read_csv("academy_awards.csv", encoding="ISO-8859-1")
df.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df['Unnamed: 5'].value_counts()

*                                                                                                               7
 error-prone measurements on sets. [Digital Imaging Technology]"                                                1
 D.B. "Don" Keele and Mark E. Engebretson has resulted in the over 20-year dominance of constant-directivity    1
 resilience                                                                                                     1
 discoverer of stars                                                                                            1
Name: Unnamed: 5, dtype: int64

In [10]:
df['Unnamed: 6'].value_counts()

*                                                                   9
 flexibility and water resistance                                   1
 sympathetic                                                        1
 direct radiator bass style cinema loudspeaker systems. [Sound]"    1
Name: Unnamed: 6, dtype: int64

In [11]:
df['Unnamed: 7'].value_counts()

*                                                     1
 while requiring no dangerous solvents. [Systems]"    1
 kindly                                               1
Name: Unnamed: 7, dtype: int64

In [5]:
df.shape

(10137, 11)

In [6]:
df.columns

Index(['Year', 'Category', 'Nominee', 'Additional Info', 'Won?', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [7]:
## Filtre les donn√©es
df['Year'].value_counts()

1941 (14th)      192
1942 (15th)      190
1943 (16th)      188
1944 (17th)      181
1945 (18th)      163
1940 (13th)      162
1939 (12th)      153
1998 (71st)      150
1938 (11th)      145
1995 (68th)      141
1954 (27th)      141
2009 (82nd)      140
1952 (25th)      138
1994 (67th)      138
2001 (74th)      137
1997 (70th)      137
1953 (26th)      135
2010 (83rd)      135
1937 (10th)      135
1956 (29th)      134
1955 (28th)      132
1964 (37th)      132
1996 (69th)      131
2006 (79th)      130
1966 (39th)      129
1961 (34th)      129
1990 (63rd)      129
2004 (77th)      129
2000 (73rd)      129
2005 (78th)      129
                ...
1987 (60th)      119
1975 (48th)      118
2008 (81st)      118
1983 (56th)      116
1985 (58th)      116
1950 (23rd)      116
1974 (47th)      115
1958 (31st)      115
1948 (21st)      115
1946 (19th)      115
1936 (9th)       115
1989 (62nd)      114
1972 (45th)      114
1947 (20th)      114
1967 (40th)      113
1976 (49th)      113
1980 (53rd)      113
1969 (42nd)      112
1970 (43rd)      112
1971 (44th)      110
1973 (46th)      109
1957 (30th)      106
1935 (8th)        95
1934 (7th)        68
1932/33 (6th)     65
1930/31 (4th)     50
1931/32 (5th)     47
1929/30 (3rd)     42
1927/28 (1st)     39
1928/29 (2nd)     38
Name: Year, Length: 83, dtype: int64

In [10]:
df['Year']=df['Year'].str[0:4]
df['Year'].dtypes

dtype('O')

In [11]:
df['Year']=df['Year'].astype(int)
df['Year'].dtypes

dtype('int64')

In [12]:
later_than_2010=df[df['Year']>2000]
later_than_2010.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
later_than_2010.shape

(1294, 11)

In [15]:
df['Category'].value_counts()

Writing                                                        888
Music (Scoring)                                                748
Cinematography                                                 572
Art Direction                                                  552
Best Picture                                                   485
Sound                                                          460
Short Film (Live Action)                                       434
Scientific and Technical (Technical Achievement Award)         428
Music (Song)                                                   413
Actress -- Leading Role                                        411
Directing                                                      410
Actor -- Leading Role                                          408
Film Editing                                                   385
Costume Design                                                 384
Actor -- Supporting Role                                       375
Actress -- Supporting Role                                     375
Short Film (Animated)                                          328
Documentary (Short Subject)                                    323
Documentary (Feature)                                          292
Foreign Language Film                                          283
Scientific and Technical (Scientific and Engineering Award)    273
Honorary Award                                                 159
Visual Effects                                                 117
Sound Editing                                                  104
Special Effects (archaic category)                              92
Makeup                                                          86
Scientific and Technical (Academy Award of Merit)               45
Irving G. Thalberg Memorial Award                               44
Animated Feature Film                                           37
Assistant Director (archaic category)                           35
Scientific and Technical (Bonner Medal)                         33
Jean Hersholt Humanitarian Award                                33
Documentary (other)                                             25
Scientific and Technical (Gordon E. Sawyer Award)               22
Dance Direction (archaic category)                              22
Scientific and Technical (Special Awards)                       18
Special Achievement Award                                       18
Acting (other)                                                  14
Unique and Artistic Picture (archaic category)                   3
Engineering Effects (archaic category)                           3
Name: Category, dtype: int64

In [16]:
#Actor--Leading role
#Actor--Supportin role
#Actress--Leading role
#Actress--Supportin role


award_categories=['Actor -- Supporting Role','Actor -- Leading Role','Actress -- Leading Role','Actress -- Supporting Role']

nominations=later_than_2010[later_than_2010['Category'].isin(award_categories)]

In [17]:
nominations.shape

(200, 11)

In [18]:
## Nettoyer les colonnes Unnamed et Won?

replace={"NO":0, "YES":1}
nominations['Won?']=nominations['Won?'].map(replace)

In [19]:
nominations['Won']=nominations['Won?']
nominations.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,NaN,NaN,NaN,NaN,NaN,NaN,1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,NaN,NaN,NaN,NaN,NaN,NaN,0

In [20]:
## Supprimer les colonnes initule
drop_cols=['Won?','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10']

final_nominations=nominations.drop(drop_cols,axis=1)

In [12]:
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0

In [13]:
## Nettoyage  de la colonne Additionnal info 
## fct str.rstrip("'}") couper tous qui est apres {}
additional_info_one=final_nominations['Additional Info'].str.rstrip("'}")
additional_info_one.head()

0                        Biutiful {'Uxbal
1             True Grit {'Rooster Cogburn
2    The Social Network {'Mark Zuckerberg
3      The King's Speech {'King George VI
4                127 Hours {'Aron Ralston
Name: Additional Info, dtype: object

In [14]:
##
additional_info_two=additional_info_one.str.split(" {'", expand=True)
additional_info_two.head()

                    0                1
0            Biutiful            Uxbal
1           True Grit  Rooster Cogburn
2  The Social Network  Mark Zuckerberg
3   The King's Speech   King George VI
4           127 Hours     Aron Ralston

In [15]:
movie_name=additional_info_two[0]
characters=additional_info_two[1]

In [16]:
final_nominations["Movie"]= movie_name
final_nominations["Character"]=characters
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,127 Hours,Aron Ralston

In [17]:
sa="Additional Info"
final_nominations.drop([sa], axis=1, inplace=True)

In [18]:
#Exporter vers SQLite
#to_sql(name,connexion)

final_nominations.dtypes

Year          int64
Category     object
Nominee      object
Won           int64
Movie        object
Character    object
dtype: object

In [21]:
import sqlite3
connexione=sqlite3.connect("nominations.db")
final_nominations.to_sql('nominations',connexione,index=False)