## Calculer une estimation de population 2050

In [65]:
import pandas as pd
import sqlite3
import math

connexion= sqlite3.connect('factbook.db')
a= pd.read_sql_query('SELECT * FROM facts;',con=connexion)

# dropna()<- supprime les valeur manquante
# N=N0*e**(r*t) ou N0= la population initiale, N= population finale, e= exponentielle, r= taux de croissante
# t= nbre d'années entre l'estimation et l'initiale
# exemple un pays de 5000 habitants, taux de croissance 4% et 2015<-2050 t=35

In [66]:
## définition de la fonction qui calcule une estimation de la population en 2
def pop_growth(x):
    return x['population']*math.e**((x['population_growth']/100)*35)

a['pop_2050']=a.apply( lambda row: pop_growth(row),axis=1)
#print(a)

a=a.dropna(axis=0) # supprimer les NA

#On filtre les pays qui ont une surface terrestre > 0 et une population >
a= a[(a['area_land']>0) & (a['population']>0)]


# # On trie les pays par population décroissante
b= a.sort_values(['pop_2050'],ascending=[False])
## On assigne à la variable b les noms des pays correspondants limités à 10 
b=b[('name')].iloc[0:9]
print(b)

76                                 India
36                                 China
128                              Nigeria
185                        United States
77                             Indonesia
131                             Pakistan
13                            Bangladesh
23                                Brazil
39     Congo, Democratic Republic of the
Name: name, dtype: object

In [69]:
d=pd.read_sql_query('SELECT sum(area_land),sum(area_water) FROM facts WHERE area_land !="";', con=connexion)
print(d['sum(area_land)']/d['sum(area_water)'])

0    28.390657
dtype: float64

In [70]:
## nombre des valeurs non nulles
brith_water=connexion.execute('SELECT count(birth_rate) FROM facts;').fetchall()
print(brith_water)

[(228,)]

In [71]:
bri=brith_water[0][0]
print(bri)

228

In [72]:
### Min et Max d'une variable numerique
min_population_growth=connexion.execute('SELECT min(population_growth) FROM facts; ').fetchall()
print(min_population_growth[0][0])
max_death_rate= connexion.execute('SELECT max(death_rate) FROM facts;').fetchall()
print(max_death_rate[0][0])

0.0
14.89

## SOMMES ET MOYENNES

In [73]:
sum_area_land=connexion.execute('SELECT SUM(area_land) FROM facts;').fetchall()
print(sum_area_land[0][0])
moyenne_area_water=connexion.execute('SELECT AVG(area_water) FROM facts;').fetchall()
print(moyenne_area_water[0][0])

128584834
19067.59259259259

In [77]:
#### Combiner plusieur calcul
combine_area_land=connexion.execute('SELECT MIN(area_land),MAX(area_land),AVG(area_land),SUM(area_land) FROM facts;').fetchall()

print(combine_area_land)

[(0, 16377742, 522702.57723577233, 128584834)]

In [ ]:
# une requete qui calcule:
#La moyenne de la colonne population
#la somme de la colonne population
#le maximum de la colonne birth_rate

In [97]:
bob=connexion.execute('SELECT AVG(population),SUM(population),MAX(birth_rate) FROM facts;').fetchall()
print(bob)
moy_population=bob[0][0]
sum_population=bob[0][1]
max_birth=bob[0][2]

[(62094928.32231405, 15026972654, 45.45)]

In [96]:
print(moy_population)
print(sum_population)
print(max_birth)

62094928.32231405
15026972654
45.45

## Associer les fonction  de calcul avec la condition WHERE

In [101]:
asso=connexion.execute('SELECT AVG(population_growth) FROM facts WHERE population>10000000;').fetchall()
print(asso[0][0])

1.4572222222222226

In [107]:
### Sélectionner des colonnes

select_col=connexion.execute('SELECT DISTINCT birth_rate FROM facts;').fetchall()
print(select_col[0:5])

[(38.57,), (12.92,), (23.67,), (8.13,), (38.78,)]

In [111]:
## DISTINCT
# birth_rate
birth_distinct=connexion.execute('SELECT AVG(DISTINCT birth_rate) FROM facts WHERE population>20000000 ;').fetchall()
print(birth_distinct[0][0])

20.43473684210527

In [113]:
# Population
pop_distinct=connexion.execute('SELECT SUM(DISTINCT population) FROM facts WHERE area_land>1000000;').fetchall()
print(pop_distinct[0][0])

4233873015

In [122]:
## Affichant les valeur de la colonne population_growth en million
mill_population_growth=connexion.execute('SELECT population_growth/1000000 FROM facts;').fetchall()
print(mill_population_growth[0:5])

[(2.32e-06,), (3e-07,), (1.8400000000000002e-06,), (1.2e-07,), (2.7799999999999996e-06,)]

In [131]:
## 
aug=connexion.execute('SELECT name,population*(population_growth+1) FROM facts;').fetchall()
print(aug[0:5])

[('Afghanistan', 108113615.44), ('Albania', 3938061.4), ('Algeria', 112299751.44), ('Andorra', 95849.6), ('Angola', 74183834.34)]

In [132]:
connexion.close()